registry=http://jfrog.catlbattery.com/artifactory/api/npm/npm-group/
proxy=http://jfrog.catlbattery.com/artifactory/api/npm/npm-group/
https-proxy=http://jfrog.catlbattery.com/artifactory/api/npm/npm-group/
_auth=amZyb2dyZWFkZXI6QVA3U29BeEhCZWhRZng3b0dwMVZTZUNxem02
email=jfrogreader@catl.com
always-auth=true
